#######################################################
# Run Evironment for Meckminecraft Server 
# docker build -t java17mc .
# Start with docker-compose
# 
# docker compose up -build oder -d
# (c) 2022 cndrbrbr
# 05.01.2023 Update Migration meckminecraft 2023 (cndrbrbr)
# 06.12.2025 just run nc3 start with one server (survival hard)
#            add the second one (survival soft)
#            add the third one (survival ehle)
#############################################################
version: "3.3"

services:
  mcagjava22:
    image: mcagjava22
    build:
      context: ../../java/java22
      dockerfile: Dockerfile
  softsurv:
    image: java22mc
    build:
      context: ../../
      dockerfile: minecraft/java22mc/Dockerfile
      args:
        Minecraft_Version: "1.21.10"
        Minecraft_Server: "softsurv"
    depends_on:
      - mcagjava22
    environment:
       Minecraft_Version: "1.21.10"
       Minecraft_Server: "softsurv"
       servername: "Minecraft AG Soft Survival"
       levelname: "world"
       maxplayers: "5"
       spigot: "spigot-1.21.10.jar"
       port: "25565"
       sizes: "1G"
       sizex: "1G"
    ports:
      - "25565:25565"
    volumes:
      - data_soft:/root/mcsrvbase/data
      - logs_soft:/root/mcsrvbase/logs
    tty: true
    stdin_open: true

  hardsurv:
    image: java22mc
    build:
      context: ../../
      dockerfile: minecraft/java22mc/Dockerfile
      args:
        Minecraft_Version: "1.21.10"
        Minecraft_Server: "hardsurv"
    depends_on:
      - mcagjava22
    environment:
       Minecraft_Version: "1.21.10"
       Minecraft_Server: "hardsurv"
       servername: "Minecraft AG Hard Survival"
       levelname: "world"
       maxplayers: "5"
       spigot: "spigot-1.21.10.jar"
       port: "25566"
       sizes: "1G"
       sizex: "1G"
    ports:
      - "25566:25566"
    volumes:
      - data_hard:/root/mcsrvbase/data
      - logs_hard:/root/mcsrvbase/logs
    tty: true
    stdin_open: true

  ehle25:
    image: java22mc
    build:
      context: ../../
      dockerfile: minecraft/java22mc/Dockerfile
      args:
        Minecraft_Version: "1.21.10"
        Minecraft_Server: "ehle25"
    depends_on:
      - mcagjava22
    environment:
       Minecraft_Version: "1.21.10"
       Minecraft_Server: "ehle25"
       servername: "ehle25"
       levelname: "world"
       maxplayers: "5"
       spigot: "spigot-1.21.10.jar"
       port: "25567"
       sizes: "1G"
       sizex: "1G"
    ports:
      - "25567:25567"
    volumes:
      - data_ehle25:/root/mcsrvbase/data
      - logs_ehle25:/root/mcsrvbase/logs
    tty: true
    stdin_open: true

volumes:
  data_ehle25:
  logs_ehle25:
  data_hard:
  logs_hard:  
  data_soft:
  logs_soft:

