#######################################################
# Run Evironment for Meckminecraft Server 
# docker build -t java17mc .
# Start with docker-compose
# 
# docker compose up -build oder -d
# (c) 2022 cndrbrbr
# 05.01.2023 Update Migration meckminecraft 2023 (cndrbrbr)
# 06.12.2025 just run nc3 start with one server (survival hard)
#            add the second one (survival soft)
#            add the third one (survival ehle)
#############################################################
version: "3.3"   
services:
  mcagjava22:
    image: mcagjava22
    build:
      context: ../../java/java22
      dockerfile: Dockerfile
  java22mc:
    image: java22mc
    build:
      context: ../../minecraft/java22mc
      dockerfile: Dockerfile
    depends_on:
      - mcagjava22
    ports:
      - "25565:25565"
      - "25566:25566" 
      - "25567:25567" 
#    volumes:
    tty: true
    stdin_open: true
#volumes:

